.modal__box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2em;
}

.modal__box-img {
	display: grid;
	place-items: center;
	width: 100%;
}

.modal__img {
	width: 50%;
	object-fit: cover;
}

.modal__box-info {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

.modal__box-price {
	display: flex;
	justify-content: center;
	gap: 1em;
}

.modal__box-price input {
	width: 3em;
	padding-left: 0.7em;
	border: 1px solid rgb(0, 0, 0);
}

.modal__product-name {
	font-weight: bold;
	text-align: center;
}

.modal__button {
	display: block;
	width: 100%;
	max-width: 200px;
	margin: 2em auto 0;
	padding: 0.5em 1em;
	color: #fff;
	border: 1px solid rgb(226, 232, 234);
	border-radius: 8px;
	background-color: #478747;
	cursor: pointer;
	transition: background-color 0.3s;
}

.modal__button:hover {
	background-color: #407840;
}

@media (min-width: 540px) {
	.modal__box {
		flex-direction: row;
	}
	.modal__box-img {
		max-width: 200px;
		width: 40%;
	}

	.modal__img {
		width: 100%;
	}
	.modal__box-info {
		width: 60%;
	}

	.modal__button {
		width: 50%;
		max-width: none;
		margin-top: 2em;
		padding: 0.7em 1em;
		color: #fff;
		border: 1px solid rgb(226, 232, 234);
		border-radius: 8px;
		background-color: #0072bc;
		cursor: pointer;
		transition: background-color 0.3s;
	}

	.modal__button:hover {
		background-color: #025f9e;
	}
}

@media (min-width: 768px) {
	.modal__product-name {
		font-size: 2.4rem;
	}
	.modal__product-price {
		font-size: 2.4rem;
	}
	.modal__button {
		width: 60%;
		font-size: 2rem;
	}
}

@media (min-width: 912px) {
	.modal__box-info {
		gap: 1.5em;
	}

	.modal__product-name {
		font-size: 2.8rem;
	}
	.modal__product-price {
		font-size: 2.6rem;
	}
}
